.base {
  padding: 1em 3em;
}

.solution {
  display: flex;
  flex-wrap: wrap;
  max-width: 835px;
}

.solution > section:first-of-type {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0.25em 1em 0.25em 0;
}

.solution > section:last-of-type {
  text-align: left;
  padding: 1rem;
  background-color: #f8f9fa;
  width: 300px;
}
